// Important
$main: rgb(255, 255, 255);
$secondary: rgb(245, 245, 245);
$borderLineColor: rgb(230, 230, 230);

// Secondary
$navbarActive: rgb(23, 23, 23);

$btnMain: rgb(225, 0, 0);

$navInactive: rgb(186, 186, 186);

// Component styling
.navbarContainer {
  position: fixed;
  top: 0px;
  width: 100%;
  height: 60px;
  background-color: $secondary;
  z-index: 100;
}

.navbarNavContainer {
  max-width: 1140px;
  height: 60px;
  padding: 0px !important;
  margin: auto;
}

.navHamburgerBtn {
  border: none;

  &:focus {
    border: none;
    box-shadow: none;
  }
}

.navCollapse {
  @media screen and (max-width: 768px) {
    position: absolute;
    top: 60px;
    width: 100%;
    background-color: white;
    z-index: 100;
    transition: all 200ms ease;
  }
}

.brandLogo {
  padding-left: 12px;
}

.navbarNav {
  height: 60px;
  padding: 0px 12px !important;
  display: flex;
  align-items: center;
}

.navbarNavText {
  font-size: 11px;
  letter-spacing: 2px;
  margin: 0px;
}
