// Important
$main: rgb(255, 255, 255);
$secondary: rgb(245, 245, 245);
$borderLineColor: rgb(230, 230, 230);

// Secondary
$subNavbarActive: rgb(118, 169, 235);

$btnMain: rgb(225, 0, 0);

$navInactive: rgb(186, 186, 186);

// Component styling
.subNavbarContainer {
  position: fixed;
  width: 100%;
  top: 60px;
  height: 60px;
  background-color: $main;
  border-bottom: 1px solid $borderLineColor;
  z-index: 100;
}

.subNavbarNavContainer {
  height: 60px;
  padding: 0px !important;
  margin: auto;
  max-width: 1140px;

  /* Hide scrollbar for Chrome, Safari and Opera */
  &::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  & {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  @media screen and (max-width: 768px) {
    overflow: scroll;
  }
}

.subNavbarNav {
  height: 60px;
  padding: 0px 12px !important;
  display: flex;
  align-items: center;
}

.subNavbarNavDropdown {
  height: 60px;
  display: flex;
  align-items: center;
  font-size: 11px;
  letter-spacing: 2px;

  div {
    width: 280px;
    height: auto;
    padding: 0px;
    border: none;
    border-radius: 0px;

    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);

    a {
      padding: 18px;
      font-size: 13px;
      color: rgb(32, 32, 32);

      &:hover {
        color: rgb(166, 166, 166);
        background-color: transparent;
      }
    }
  }

  @media screen and (max-width: 768px) {
    div {
      position: fixed !important;
      left: 0px;
      top: 120px;
    }
  }
}

.subNavbarNavText {
  font-size: 11px;
  letter-spacing: 2px;
  margin: 0px;
}
